---
import Navbar from '../../components/Navbar.astro'
import Layout from '../../components/layout.astro'
import Footer from '../../components/Footer.astro'
import Card from '../../components/project/card/projectCard.astro'
---

<head>
  <Layout
    title="Project"
    ,
    description="My project page"
    ,
    image="/full-body.webp"
    ,
  />
</head>

<body>
  <Navbar />
  <main
    class="mx-auto mt-20 max-w-7xl rounded-xl bg-neutral-200 pb-4 shadow-xl dark:bg-[#121212] dark:text-white"
  >
    <div class="-mt-20">
      <div class="mx-auto rounded-xl py-4">
        <div
          class="mx-auto max-w-4xl text-ellipsis rounded-lg bg-white py-4 shadow-xl lg:px-8 dark:bg-[#332940]"
        >
          <h1 class="pb-4 text-center text-2xl md:text-left">
            My on working/archived project
          </h1>
          <img
            src="/favicon.jpg"
            class="flex w-full items-center space-x-28 rounded-2xl bg-gray-900 p-5 md:block md:w-auto"
            alt="Siravij's "
          />
          <p class="text-ellipsis p-4 text-sm xl:text-base">
            &nbsp;&nbsp;&nbsp;As a student, I have to do many projects. Some of
            them are for my own project. Some are my passion project or Group
            project.
          </p>
        </div>
      </div>
    </div>

    <div
      class="rounded-lg bg-white sm:pb-4 md:pb-64 shadow-xl md:mx-4 lg:px-8 dark:border-gray-700 dark:bg-[#332940] "
    >
      <h1 class="pt-4 -mb-6 text-center text-2xl md:text-left">My project</h1>
      <h2 class="pt-4 -mb-6 text-center text-2xl ">More Coming Soon...</h2>

        <ul class="grind mx-auto grid-cols-1 text-xl">

            <ul class="grind grid grid-cols-1 gap-4 py-8 md:grid-cols-4 md:gap-y-40">
              <li><Card
                name="KNACKSAT-2 TGPS"
                description="Thai German Pre-Engineering Sattlelite Project"
                image="/KNACK2.jpg"
              /></li>
              <li><Card
                name="Hoku Birthday Wish Sending And Reader Project"
                description="First time of using DB"
                image="/project/hokubd/1.jpg"
              /></li>
              <li><Card
                name="NB GEARS Robootic Team"
                description="Robotic Competition as Coding Engineer"
                image="/team.webp"
              /></li>
              <li><Card
                name="Siravij Portfolio Gen 1"
                description="First time of HTML Coding on M4"
                image="/project/gen1/gen1.webp"
              /></li>
              <li><Card
                name="NB GEARS Website Gen 1"
                description="First time written for Team"
                image="/project/nbgearsgen1/gen1.webp"
              /></li>
              <li><Card
                name="Garry's Mod mod E2 mods"
                description="Garry's Mod coding mod for common E2 code"
                image="/E2-Gmod-random.png"
              /></li>

            </ul>


        </ul>
    </div>

    <div class="-mb-7 mt-8"><Footer /></div>
  </main>
</body>
