---
import Navbar from '../components/Navbar.astro'
import Layout from '../components/layout.astro'
import Footer from '../components/Footer.astro'
---

<head>
  <Layout
    title="Home"
    ,
    description="Siravij's Website"
    ,
    image="/full-body.webp"
    ,
  />
</head>

<body>
  <Navbar />
  <div class="-pt-4 -mt-10"><Footer /></div>
  <main class="mx-auto overflow-hidden bg-neutral-200 sm:h-full md:h-screen">
    <div
      class="relative flex h-screen w-full flex-col items-center justify-center overflow-hidden"
    >
      <div
        class="z-10 -mt-96 w-full pl-10 text-left text-4xl text-white lg:-mt-96"
      >
        <div class="w-fit rounded-xl bg-gray-900 p-4">
          Welcome to<b class="text-[#ab98ff] underline"> Siravij's</b> Personal Website
          <span class="block text-xl">I'm Siravij Praevisavakij</span>
          <span class="block text-xl">Feel free to browse my website!</span>
        </div>
      </div>

      <div class="z-10 -mt-96 flex pl-10 text-left text-white lg:-mt-96">
      </div><div class="absolute w-full">
        <img
          src="Siravij-RedDepot.jpg"
          alt="It's Me,Siravij!"
          class="-mt-96 w-full lg:-mt-80"
          id="widget2"
        />
      </div>
    </div>
  </main>
</body>
