---
import AishaB from '../../components/script/aishab.astro'
import Navbar from '../../components/Navbar.astro'
import Layout from '../../components/layout.astro'
import Footer from '../../components/Footer.astro'
---

<head>
  <Layout
    title="Home"
    ,
    description="Home of Aisha Wiki"
    ,
    image="/model/model10.1.webp"
    ,
  />
</head>
<Navbar />
<body>
  <AishaB />
  <main
    class="customFont mx-auto max-w-7xl gap-4 rounded-xl shadow-xl dark:bg-[#332940]"
  >
    <p>
      <p id="debutAnnment" class="text-center text-sm"></p>
      <div class="instructions">
        <h1 class="md:text-md text-center text-[1.1rem]">
          <span class="text-gradient">Siravij Praevisavakij biography</span>
        </h1>
        <div class="item-center md:text-md mx-auto text-sm">
          <p
            class="mx-auto break-normal text-center text-[0.9rem] dark:text-gray-100 md:break-all md:text-[1.2rem]"
          >
            This website is build by <code>Siravij</code>
          </p>
        </div>
      </div>

      <div
        class="mx-auto rounded-lg bg-neutral-200 text-black dark:bg-[#121212] sm:px-2 md:px-2 md:pb-20"
      >
        <div
          class="pb-auto mx-auto rounded-lg py-10 sm:block sm:px-2 md:flex md:px-8"
        >
          <div
            class="item-center mx-auto flex-auto rounded-lg bg-white px-5 text-center shadow-xl hover:shadow-2xl dark:bg-[#332940]"
          >
            <p
              class="pt-3 text-center text-2xl dark:text-gray-100 md:pt-2 md:text-lg"
            >
              Siravij Praevisavakij
            </p>
            <p>
              <img
                class="mx-auto"
                src="/siravij.webp"
                width="auto"
                height="1 rem"
                alt="Siravij half body"
              />
            </p>
          </div>
          <div
            class="mt-3 overflow-hidden text-ellipsis rounded-lg bg-white px-2 py-3 text-sm shadow-xl dark:bg-[#332940] dark:text-gray-100 md:ml-2 md:mt-0 md:py-2 md:text-xl"
          >
            <h1 class="text-center md:text-left">Biography</h1>
            <p>
              <ol>
                <li>
                  Hello! Welcome to my website. My name is Siravij!
                  <p>
                    I'm a Sattlelite engineer at <a href="#" class=""
                      >KNACKSAT2 TGPS</a
                    >

                    Also as Electronic and Coding Engineer at <a
                      href="https://nbgears.tech"
                      class="">NB GEARS</a
                    >

                    feel free to contact me! My available will be at <a
                      href="/contact"
                      class="">This page</a
                    >
                  </p>
                </li>

                <p class="py-1">
                  <li>
                    <p class="inline items-center">
                      - สังกัด :
                      <a
                        href="https://www.facebook.com/GAAICompany/"
                        aria-label="Guardian Angel Ai Co Ltd Facebook Page"
                      >
                        <span
                          ><div
                            class="inline rounded-lg bg-black p-1 text-white shadow-lg hover:shadow-xl"
                          >
                            <img
                              class="p-auto mx-1 mb-1 inline h-5 w-auto items-center"
                              src="/garten.svg"
                              alt="Guardian Angel Ai Co Ltd. Logo"
                              height="fit"
                              width="auto"
                            />
                            <p
                              class="-ml-1 inline rounded-lg bg-black p-1 text-white shadow-lg hover:shadow-xl"
                            >
                              creatorsgarten
                            </p>
                          </div>
                        </span>
                      </a>
                    </p>
                  </li>
                  <div class="grid grid-cols-2 py-4">
                    <span>
                      - papa : <a href="https://twitter.com/Nock3d">
                        <p
                          class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                        >
                          @Nock3d
                        </p>
                      </a>
                      <a href="https://twitter.com/LIVINERA">
                        <p
                          class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                        >
                          @LIVINERA
                        </p></a
                      >
                    </span>
                    <span
                      >- mama :
                      <a href="https://twitter.com/vpkmit">
                        <p
                          class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                        >
                          @vpkmit
                        </p></a
                      >
                      <a href="https://twitter.com/mcmclunar">
                        <p
                          class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                        >
                          @mcmclunar
                        </p>
                      </a>
                    </span>
                  </div>
                </p>
              </ol>
            </p>
          </div>
        </div>
      </div>
      <Footer />

      <style>
        .text-gradient {
          background-image: var(--accent-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 400%;
          background-position: 0%;
        }
        .instructions {
          line-height: 1.6;
          margin: 1rem 0;
          border: 1px solid rgba(var(--accent), 25%);

          padding: 1rem;
          border-radius: 0.4rem;
        }
        .instructions code {
          font-size: 0.875em;
          font-weight: bold;
          background: rgba(var(--accent), 12%);
          color: rgb(var(--accent));
          border-radius: 4px;
          padding: 0.3em 0.45em;
        }
        .instructions strong {
          color: rgb(var(--accent));
        }
        .Maincon {
          font-size: 1.5rem;
          max-width: 1280px;
          margin: 40px auto;
        }
        .col-span-middle {
          grid-column: span 2;
          text-align: center;
        }
      </style>
    </p>
  </main>
</body>
