---
import AishaB from '../../components/script/aishab.astro'
import Navbar from '../../components/Navbar.astro'
import Layout from '../../components/layout.astro'
import Footer from '../../components/Footer.astro'
---

<head>
  <Layout
    title="Home"
    ,
    description="Home of Aisha Wiki"
    ,
    image="/model/model10.1.webp"
    ,
  />
</head>
<Navbar />
<body>
  <AishaB />
  <main class="Maincon customFont mx-auto gap-4 rounded-xl shadow-xl">
    <p>
      <p id="debutAnnment" class="text-center text-sm"></p>
      <div class="instructions">
        <h1 class="md:text-md text-center text-[1.1rem]">
          Welcome to <span class="text-gradient">Aisha channel information</span
          >
        </h1>
        <div class="item-center md:text-md mx-auto text-sm">
          <p
            class="mx-auto break-normal text-center text-[0.9rem] md:break-all md:text-[1.2rem]"
          >
            This website is build by <code>Siravij | สิราวิ้จจะบึ</code>
          </p><p class="text-center sm:text-[0.9rem] md:text-[1rem]">
            Data provided by <code>
              <a
                class="text-[0.7rem] md:text-[1rem]"
                href="https://pusssinboots.notion.site/pusssinboots/Aisha-channel-information-9104e052397c405e8e39e5223b0ec335"
                >Aisha Web Database By Puss</a
              ></code
            >
          </p>
        </div>
      </div>

      <div
        class="mx-auto max-w-7xl rounded-lg bg-neutral-200 text-black sm:px-2 md:px-8 md:pb-20"
      >
        <div class="pb-auto mx-auto flex rounded-lg py-10 sm:px-2 md:px-8">
          <div
            class="item-center mx-auto flex-auto rounded-lg bg-white px-5 text-center shadow-xl hover:shadow-2xl"
          >
            <p class="pt-3 text-center text-2xl md:pt-2 md:text-lg">
              Siravij Praevisavakij
            </p>
            <p>
              <img
                class="mx-auto"
                src="/siravij.webp"
                width="auto"
                height="1 rem"
                alt="Siravij half body"
              />
            </p>
          </div>
          <div
            class="mt-3 overflow-hidden text-ellipsis rounded-lg bg-white px-2 py-3 text-sm shadow-xl md:ml-2 md:mt-0 md:py-2 md:text-xl"
          >
            <h1 class="text-center md:text-left">ข้อมูลทั่วไป</h1>
            <p>
              <ol>
                <li>
                  - วันเกิด : 29/7/2003 <p class="inline text-sm" id="result">
                  </p>
                </li>
                <li>
                  - วันเดบิวต์ : 29/7/2019 <p class="inline text-sm" id="annd">
                  </p>
                </li>
                <li>
                  - อายุ : <p class="inline" id="age"></p> ปี - ส่วนสูง : 155 เซนติเมตร
                </li>
                <li>- Lore: เป็นหุ่นยนต์Ai</li>
                <li>- อิโมจิประจำตัว : 🐱, 💚</li>
                <li>
                  - แฟนเนม : กุ๊ปเปี้ยน(ส์)*/ Guppiens (มาจากคำว่ากุ๊ปป้า* และ
                  โฮโมเซเปี้ยน)
                </li>
                <p class="text-sm">
                  **สามารถสะกดคำว่าGuppiensในภาษาไทยได้ทั้ง กุ๊ปเปี้ยน และ
                  กุ๊ปเปี้ยนส์
                </p>
                <p class="text-sm">
                  *กุ๊ปป้า เป็นคำที่ไอช่าใช้เวลาเปิดคลิป/ทักทาย เช่น “กุ๊ปป้า!
                  สวัสดีค่า เวอร์ช่วลไอดอลไอช่า มาแล้วค่า!”*
                </p>
                <p class="py-1">
                  <li class="flex">
                    <p class="flex-inline items-center">
                      - สังกัด :
                      <a
                        href="https://www.facebook.com/GAAICompany/"
                        aria-label="Guardian Angel Ai Co Ltd Facebook Page"
                        class="flex items-center"
                      >
                        <span
                          ><p
                            class="my-auto inline rounded-lg bg-black p-1 text-white shadow-lg hover:shadow-xl"
                          >
                            <img
                              class="-mt- my-auto h-5 w-auto items-center pr-4"
                              src="/garten.svg"
                              alt="Creators Gartens Logo"
                              height="fit"
                              width="auto"
                            />
                            CreatorsGarten
                          </p>
                        </span>
                      </a>
                    </p>
                  </li>
                </p>
                <div class="grid grid-cols-2 py-4">
                  <span>
                    - papa : <a href="https://twitter.com/Nock3d">
                      <p
                        class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                      >
                        @Nock3d
                      </p>
                    </a>
                    <a href="https://twitter.com/LIVINERA">
                      <p
                        class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                      >
                        @LIVINERA
                      </p></a
                    >
                  </span>
                  <span
                    >- mama :
                    <a href="https://twitter.com/vpkmit">
                      <p
                        class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                      >
                        @vpkmit
                      </p></a
                    >
                    <a href="https://twitter.com/mcmclunar">
                      <p
                        class="m-1 rounded-lg bg-neutral-200 p-2 text-center hover:bg-gray-400"
                      >
                        @mcmclunar
                      </p>
                    </a>
                  </span>
                </div>
              </ol>
            </p>
          </div>
        </div>
      </div>
    </p>
    <Footer />

    <style>
      .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
      }
      .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);

        padding: 1rem;
        border-radius: 0.4rem;
      }
      .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
      }
      .instructions strong {
        color: rgb(var(--accent));
      }
      .Maincon {
        font-size: 1.5rem;
        max-width: 1280px;
        margin: 40px auto;
      }
      .col-span-middle {
        grid-column: span 2;
        text-align: center;
      }
    </style>
  </main>
</body>
